<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gamer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gamer.email %>
</p>

<%= link_to 'Edit', edit_gamer_path(@gamer) %> |
<%= link_to 'Back', gamers_path %>
